<th:block th:fragment="primary(text, link)">
    <a th:text="${text}" th:href="${link}" class="inline-block bg-green-500 text-white font-medium px-5 py-2 rounded-full shadow-lg hover:bg-green-400 transition"></a>
</th:block>

<th:block th:fragment="secondary(text, link)">
    <a th:text="${text}" th:href="${link}" class="inline-block bg-green-500 text-white font-medium px-5 py-2 rounded-full shadow-lg hover:bg-green-400 transition"></a>
</th:block>

<th:block th:fragment="link(text, link)">
    <a th:text="${text}" th:href="${link}" class="inline-block hover:-translate-y-0.5 transition"></a>
</th:block>