<th:block th:fragment="form">
    <form>
        <h2>Text Inputs</h2>
        <label>
            Text Input:
            <input type="text" name="text" placeholder="Enter text" />
        </label>
        <br />
        <label>
            Password:
            <input type="password" name="password" placeholder="Enter password" />
        </label>
        <br />
        <label>
            Email:
            <input type="email" name="email" placeholder="example@mail.com" />
        </label>
        <br />
        <label>
            Number:
            <input type="number" name="number" placeholder="123" />
        </label>
        <br />
        <label>
            Search:
            <input type="search" name="search" placeholder="Search..." />
        </label>
        <br />
        <label>
            Telephone:
            <input type="tel" name="tel" placeholder="(123) 456-7890" />
        </label>
        <br />
        <label>
            URL:
            <input type="url" name="url" placeholder="https://example.com" />
        </label>
        <br />
        <label>
            Date:
            <input type="date" name="date" />
        </label>
        <br />
        <label>
            Time:
            <input type="time" name="time" />
        </label>
        <br />
        <label>
            Datetime-local:
            <input type="datetime-local" name="datetime" />
        </label>
        <br />
        <label>
            Month:
            <input type="month" name="month" />
        </label>
        <br />
        <label>
            Week:
            <input type="week" name="week" />
        </label>

        <h2>Dropdowns and Selects</h2>
        <label>
            Single Select:
            <select name="single">
            <option value="">Select one</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            </select>
        </label>
        <br />
        <label>
            Multi Select:
            <select name="multi" multiple>
            <option value="1">Option A</option>
            <option value="2">Option B</option>
            <option value="3">Option C</option>
            </select>
        </label>

        <h2>Checkboxes and Radios</h2>
        <fieldset>
            <legend>Checkboxes</legend>
            <label><input type="checkbox" name="check1" /> Option 1</label>
            <label><input type="checkbox" name="check2" /> Option 2</label>
            <label><input type="checkbox" name="check3" /> Option 3</label>
        </fieldset>
        <fieldset>
            <legend>Radio Buttons</legend>
            <label><input type="radio" name="radio" value="1" /> Option 1</label>
            <label><input type="radio" name="radio" value="2" /> Option 2</label>
        </fieldset>

        <h2>Range, Color, and File</h2>
        <label>
            Range:
            <input type="range" name="range" min="0" max="100" />
        </label>
        <br />
        <label>
            Color Picker:
            <input type="color" name="color" />
        </label>
        <br />
        <label>
            File Upload:
            <input type="file" name="file" />
        </label>

        <h2>Textarea</h2>
        <label>
            Message:
            <textarea name="message" rows="4" cols="40" placeholder="Write something..."></textarea>
        </label>

        <h2>Buttons</h2>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
        <button type="button" onclick="alert('Clicked!')">Click Me</button>
    </form>
</th:block>