        <th:block th:fragment="header">
            <header class="py-3 neu-shadow">
                <div class="container mx-auto flex items-center justify-between lg:px-12">

                    <div class="flex items-center justify-between gap-4">
                        <!-- insert logo -->
                        <th:block th:replace="~{fragments/logo :: logo}"></th:block>
                        <h2 th:text="#{app.title}" class="text-2xl font-bold"></h2>
                    </div>

                    <div class="flex-1 flex gap-4 place-content-center">
                        <th:block th:replace="~{fragments/button :: link(#{home}, '/')}"></th:block>
                        <th:block th:replace="~{fragments/button :: link(#{sandbox}, '/sandbox')}"></th:block>
                        <th:block th:replace="~{fragments/button :: link(#{style.guide}, '/style-guide')}"></th:block>
                        <th:block th:replace="~{fragments/button :: link(#{test}, '/test')}"></th:block>
                    </div>
                
                    <div class="col-md-3 text-end flex items-center justify-between gap-4">
                        <th:block th:replace="~{fragments/button :: primary(#{login}, '/login')}"></th:block>
                        <th:block th:replace="~{fragments/toggle :: theme}"></th:block>
                    </div>
                </div>
            </header>
        </th:block>

        