        <th:block th:fragment="header">
            <header>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <div class="col-md-3 mb-2 mb-md-0">
                        <!-- logo -->
                        <a class="logo-link" th:href="@{/}">
                            <img class="logo" th:src="@{/images/ide.png}" alt="Boilerplate Website Logo">
                        </a>
                    </div>
            
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a th:href="@{/}" class="nav-link px-2 link-secondary">Home</a></li>
                        <li><a th:href="@{/sandbox}" class="nav-link px-2">Sandbox Page</a></li>
                    </ul>
                
                    <div class="col-md-3 text-end">
                        <button type="button" class="sandbox-page-button btn btn-secondary">Sandbox</button>
                        <button type="button" class="btn btn-primary">Sign-up</button>
                    </div>
                </div>
            </header>
        </th:block>

        