<th:block th:fragment="h1(text)">
    <h1 th:text="${text}" class="text-5xl font-extrabold text-gray-900 dark:text-gray-100 mb-5"></h1>
</th:block>

<th:block th:fragment="h2(text)">
    <h2 th:text="${text}" class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-4"></h2>
</th:block>

<th:block th:fragment="h3(text)">
    <h3 th:text="${text}" class="text-3xl font-bold text-gray-800 dark:text-gray-200 mb-3"></h3>
</th:block>

<th:block th:fragment="h4(text)">
    <h4 th:text="${text}" class="text-2xl font-bold text-gray-700 dark:text-gray-300 mb-3"></h4>
</th:block>

<th:block th:fragment="h5(text)">
    <h5 th:text="${text}" class="text-xl font-extrabold text-gray-600 dark:text-gray-400 mb-3"></h5>
</th:block>

<th:block th:fragment="h6(text)">
    <h6 th:text="${text}" class="text-md font-extrabold text-gray-500 mb-2"></h6>
</th:block>