<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz"
      layout:decorate="~{layouts/main-layout}">
    
    <head>
        <title>Home</title>
    </head>

    <body>
        <div layout:fragment="content">
            
            <th:block th:replace="~{fragments/heading :: h1('Boilerplate Web App')}"></th:block>
            <th:block th:replace="~{fragments/heading :: h3(#{app.greeting(${username})})}"></th:block>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores explicabo
                harum eveniet tempore. Iste, sapiente voluptatem. Nisi in et dolores eaque, a unde hic blanditiis
                beatae quidem sint nihil?
            </p>

            <th:block th:replace="~{fragments/cta :: cta('Get Started', 'We Need You', #{default.card.text}, 'Sandbox', '/sandbox')}"></th:block>

        </div>
    </body>
</html>