<!--
 *******************************************************************************
 * Project: Boilerplate
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2025 Code Green Web Design All rights reserved.
 *******************************************************************************
-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}">
    
    <head>
        <title>Boilerplate</title>
    </head>

    <body>

        <!-- INDEX Page main content plug -->
        <th:block layout:fragment="content">
            
            <h1>Boilerplate Web App</h1>

        </th:block>

    </body>

</html>