<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz"
      layout:decorate="~{layouts/main-layout}">
    
    <head>
        <title>Sandbox Page</title>
    </head>

    <body>
        <div layout:fragment="content">
            
            <div class="light-background">
                <th:block th:replace="~{fragments/heading :: h1(#{sandbox})}"></th:block>
                <p>Edit and test things with this page as needed.</p>
            </div>

        </div>
    </body>
</html>