<configuration>
  <!-- properties -->
  <property name="LOG_FILE" value="boilerplate" />
  <property name="LOG_DIR" value="/logs" />
  
  <!-- stdout log appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MM-dd-yyyy HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- file log appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/${LOG_FILE}.log</file>
    <encoder>
      <pattern>%d{MM-dd-yyyy HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 1GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  
  <!-- application logger -->
  <logger name="com.cgwd" level="DEBUG">
    <appender-ref ref="FILE" />
  </logger>

  <!-- root logger -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>